/* apply to all */
* {
  box-sizing: border-box;
  color: #28724F;
}

body {
  padding: 10px;
  background: #f1f1f1;
}

.left {   
  float: left;
  width: 75%;
}

.right {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* categories */
.category {   
  float: left;
  width: 33%;
  padding: 30px;
  text-align: center;
}

.category_box {
	opacity: 0.5;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-align: center;
  	padding: 20px;
  	margin-top: 20px;
  	border-radius: 25px;
  	color: black;
}

.category_box::before {    
    content: "";
}

/* title */
.title {
  padding: 20px;
  padding-bottom: 130px;
  text-align: right;
  background: white;
}

/* navigation bar */
.navbar {
  overflow: hidden;
  background-color: #28724F;
}

/* navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none; /* no underline */
}

/* color changes when hover on navigation bar */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row:after {
  clear: both;
  display: table;
  content: "";
}

/* rectangle box for articles */
.box {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.bottombar {
  padding: 50px;
  margin-top: 20px;
  text-align: center;
  background: #ddd;
  background-color: #28724F;
}