/* apply to all */
* {
  	box-sizing: border-box;
  	color: #28724F;
}


.text {
  float: right;
  padding: 14px 0;
  width: 300px;
}

.text #text {
  display: inline-block;
  width: 300px;
}


.container {
    width: 150px;
    height: 150px;
    position: relative;
}

.under {
    width: 100%;
    height: 100%;
    position: absolute;
}

.over {
    z-index: 1;
    top:0;
    left:0;
    background-color: white; /* #C2E189 light logo color */
    color: #28724F; /* #28724F dark logo color */
    opacity: 1.0;
    border: none;
    font-size: 1.5em;
    font-weight: bolder;
/*     font-family: Arial, Helvetica, sans-serif; */
}

.charitybox {
  	background-color: white;
  	padding-right: 60px;
  	margin-top: 20px;
  	text-align: center;
  	position: relative;
  	height:400px;
}

.searchbox {
  	background-color: white;
	padding-top: 20px;
  	padding-right: 60px;
  	margin-top: 20px;
  	text-align: center;
  	position: relative;
  	height: 60px;
}


body {
  	padding: 20px;
  	padding-right: 30px;
  	background: #f1f1f1;
}

.left {   
  	float: left;
  	width: 47%;
}

.right {
  	float: left;
  	width: 53%;
  	background-color: #f1f1f1;
  	padding-left: 40px;
}

.bottom1 {
  	float: left;
  	width: 27%;
}

.bottom2 {
  	float: left;
  	width: 33%;
  	padding-left: 40px;
}

.bottom3 {
  	float: left;
  	width: 40%;
  	padding-left: 40px;
}

/* categories */
.category {   
  	float: left;
  	width: 33%;
  	padding: 30px;
  	text-align: center;
}

.category_box {
	opacity: 0.5;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-align: center;
  	padding: 20px;
  	margin-top: 20px;
  	border-radius: 25px;
  	color: black;
  	width:100%;
	height:100%;
}

.category_box::before {    
    content: "";
}

/* title */
.title {
  	padding: 20px;
  	padding-bottom: 130px;
  	text-align: right;
  	background: white;
}

/* navigation bar */
.navbar {
  	overflow: hidden;
  	background-color: #28724F;
}

/* navigation bar */
.navbar a {
  	float: left;
  	display: block;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 15px 30px;
  	text-decoration: none; /* no underline */
}

/* color changes when hover on navigation bar */
.navbar a:hover {
  	background-color: #ddd;
  	color: black;
}

.row:after {
  	clear: both;
  	display: table;
  	content: "";
}


/* 
.row {
	position: relative;
	padding: 300px;
}
 */

/* rectangle box for articles */
.box {
  	background-color: white;
  	padding: 20px;
  	padding-left: 60px;
  	padding-right: 60px;
  	margin-top: 20px;
  	text-align: center;
  	position: relative;
}

.bottombar {
  	padding: 50px;
  	margin-top: 20px;
  	text-align: center;
  	background: #ddd;
  	background-color: #28724F;
}

.fade{
  	animation: fadeInAnimation ease 2s;
  	animation-iteration-count: 1;
  	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  	0% {
      	opacity: 0;
  	}
  	100% {
      	opacity: 1;
  	}
}