<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8" />
		<!-- import css -->
    	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    	<!-- name of tab -->
    	<title>Hack Western 8</title>
    	<!-- icon of tab -->
    	<link rel="shortcut icon" type="image/x-icon" href= "{{ url_for('static',filename='img/favicon.ico') }}">
	</head>
	<body>
		<!-- logo and title -->
		<div class="title">
			<h1><img src="../static/img/logo_title.png" alt="logo" style="float:left;width:375px;height:100px;"></h1>
		</div>
		<!-- navigation bar -->
		<div class="navbar">
  			<a href="#home">Home</a>
  			<a href="#stocks">Stocks</a>
  			<a href="#charities">Charities</a>
  			<a href="#news">News</a>
		</div>
		
		<div class="row">
  			<div class="left">
    			<div class="box">
      				<h2>Investing for a better tomorrow</h2>
      				<h5>Financial Planning for Students, Nov 20, 2021</h5>
      				<div class="fakeimg" style="height:200px;">Image</div>
      				<p>Information...</p>
      			</div>
    			<div class="box">
      				<h2>Change starts with you</h2>
      				<h5>Philanthropic Services, Nov 19, 2021</h5>
      				<div class="fakeimg" style="height:200px;">Image</div>
      				<p>Information...</p>
      			</div>
  			</div>
  			
  			<div class="right">
    			<div class="box">
      				<h2>News</h2>
      				<div class="fakeimg" style="height:100px;">Image</div>
      				<p>Information..</p>
    			</div>
    			<div class="box">
      				<h2>Charities</h2>
      				<div class="fakeimg"><p>Image</p></div>
      				<div class="fakeimg"><p>Image</p></div>
      				<div class="fakeimg"><p>Image</p></div>
    			</div>
    			<div class="box">
      				<h2>Stocks</h2>
      				<p>Information...</p>
    			</div>
  			</div>
  			
		</div>

		<div class="footer">
  			<h2>Footer</h2>
		</div>
		
	</body>
</html>

