<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8" />
		<!-- import css -->
    	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    	<!-- name of tab -->
    	<title>Giving Tree</title>
    	<!-- icon of tab -->
    	<link rel="shortcut icon" type="image/x-icon" href= "{{ url_for('static',filename='img/favicon.ico') }}">
	</head>
	<body>
		<!-- logo and title -->
		<div class="title">
			<h1><img src="../static/img/logo_title.png" alt="logo" style="float:left; width:375px; height:100px;"></h1>
		</div>
		<!-- navigation bar -->
		<div class="navbar">
  			<a href="{{ url_for('index') }}" >Home</a>
  			<a href="{{ url_for('query') }}">Choose Charities</a> <!-- Get Started -->
  			<a href="{{ url_for('stocks') }}">Return Stocks</a>
		</div>
		
		<form method="POST">
    		<input name="text">
    		<input type="submit">
		</form>
		
		<!-- main body paragraph -->
		<div class="row">
		
  			<div class="left">
    			<div class="box">
      				<h2>Investing for a better tomorrow</h2>
      				<h5>Financial Planning for Students, Nov 20, 2021</h5>
      				<div style="height:180px;">Image</div>
      				<p>Information...</p>
      			</div>
    			<div class="box">
      				<h2>Change starts with you</h2>
      				<h5>Philanthropic Services, Nov 19, 2021</h5>
      				<div style="height:180px;"> Image</div>
      				<p>Information...</p>
      			</div>
  			</div>
  			
  			<div class="right">
    			<div class="box">
      				<h2>News</h2>
      				<p>Information..</p>
    			</div>
    			<div class="box">
      				<h2>Charities</h2>
      				<p>Information..</p>
    			</div>
    			<div class="box">
      				<h2>Stocks</h2>
      				<p>Information...</p>
    			</div>
  			</div>
  			
		</div>

		<!-- bottom bar -->
		<div class="bottombar">
		</div>
	</body>
</html>

