<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8" />
		<!-- import css -->
    	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    	<!-- name of tab -->
    	<title>Giving Tree</title>
    	<!-- icon of tab -->
    	<link rel="shortcut icon" type="image/x-icon" href= "{{ url_for('static',filename='img/favicon.ico') }}">
	</head>
	<body>
		<!-- logo and title -->
		<div class="title">
			<h1><img src="../static/img/logo_title.png" alt="logo" style="float:left; width:375px; height:100px;"></h1>
		</div>
		<!-- navigation bar -->
		<div class="navbar">
  			<a href="{{ url_for('index') }}">Home</a>
  			<a href="{{ url_for('query') }}">Get Started</a>
		</div>
		
		<!-- main body paragraph -->
		<div class="row">
		
  			<div class="left">
    			<div class="box">
      				<h2>Investing for a better tomorrow</h2>
      				<p>The majority of students do not have a lot of spare cash so it can be challenging for them to choose between investing in their own future or the causes that they believe in to build a better future for others. What if I told you that there is a way to support your favourite charities while also saving money? Students no longer need to choose between investing and donating!</p>  
      				<img src="../static/img/donate.jpg" style="width:458px; height:256px; opacity: 0.5;">
      				<p>Our mission is to encourage students to invest in companies that make donations to charities on their behalf.</p>
      				<p></p>
      			</div>
  			</div>
  			
  			<div class="right">
  			    <div class="box">
      				<h2>Change starts with you</h2>
      				<p>Large companies have the capital needed to make sizeable donations but many of these acts go unnoticed. That's why we created a platform that connects students to companies that make donations to the charities that they are interested in. Students will be able to support charities they believe in by investing in companies that are driven to make donations to such causes.</p>
      				<img src="../static/img/invest.jpg" style="width:458px; height:256px; opacity: 0.5;">
      				<p>Students will be able to not only learn more about financial planning but also help support various philanthropic services.</p>
      			</div>
  			</div>
  			
  			<div class="bottom1">
  			    <div class="box">
      				<h2>Charities</h2>
      				<p>Amazon Rainforest Conservancy</p>
      				<p>ProLiteracy</p>
      				<p>Children International</p>
      				<p>Brain & Behavior Research Foundation</p>
      				<p>Marie Curie</p>
    			</div>
    		</div>
    		
    		<div class="bottom2">
    			<div class="box">
      				<h2>Stocks</h2>
      				<p>General Electric’s Matching Gift Program</p>
      				<p>Bank of America Charitable Foundation</p>
      				<p>Google’s Matching Gift Program</p>
      				<p>Darden Harvest Program</p>
      				<p>General Mills’ Global Responsibility Initiatives</p>
    			</div>
  			</div>
  			
  			<div class="bottom3">
    			<div class="box">
      				<h2>News</h2>
      				<p>BAPS Charities Canada held its annual walk/run in 57 cities and towns. More than 2,000 participants logged over 25 million steps across Canada....</p>
      				<p>Amazon founder Jeff Bezos has pledged $2 billion in funding to help restore nature and transform food systems. The funding, which will come from the Bezos Earth Fund...</p>
      				<p>Bill and Melinda Gates have backed a U.K. start-up that’s trying to design new drugs with artificial intelligence...</p>
    			</div>
  			</div>
  			
		</div>

		<!-- bottom bar -->
		<div class="bottombar">
		</div>
	</body>
</html>

