<!DOCTYPE html>
<style>
	html, body{
		height: 100%;
		width: 100%;
	}
	div{
		height: 10%;
		width: 100%;
	}
</style>
<html lang="en">
	<head>

        <meta charset="UTF-8" />
		<!-- import css -->
    	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    	<!-- name of tab -->
    	<title>Giving Tree</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    	<!-- icon of tab -->
    	<link rel="shortcut icon" type="image/x-icon" href= "{{ url_for('static',filename='img/favicon.ico') }}">
	</head>
	<body>
		<!-- logo and title -->
		<div class="title">
			<h1><img src="../static/img/logo_title.png" alt="logo" style="float:left;width:375px;height:100px;"></h1>
		</div>
		<!-- navigation bar -->
		<div class="navbar">
  			<a href="{{ url_for('index') }}" >Home</a>
  			<a href="{{ url_for('query') }}">Choose Charities</a> <!-- Get Started -->
  			<a href="{{ url_for('stocks') }}">Return Stocks</a>
		</div>
		
		<!-- stocks -->
		<div>
			<canvas id="myChart" width="300" height="100"></canvas>
		</div>
		<script>
			var list=[];
			for(i=0;i<24;i++){
				list.push(i);
			}
			var random1 = [];
			var random2 = [];
			for(j=0;j<24;j++){
				var rondom = Math.floor(Math.random() * 100);
				random1.push(rondom);
				rondom = Math.floor(Math.random() * 500);
				random2.push(rondom);
			}
	
			
			Math.floor(Math.random() * 10);
			const ctx = document.getElementById('myChart').getContext('2d');
			const chart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: list,
				datasets: [{
					label: 'Low',
					data: random1,
					borderWidth: 1,
					fill: {
						target: 'origin',
						above: 'rgba(40, 114, 79, 0.3)'
					},
					borderColor: 'rgb(40, 114, 79)'
				},
				{
					label: 'High',
					data: random2,
					borderWidth: 1,
					fill: {
						target: 'origin',
						above: 'rgba(88, 193, 219, 0.3)'
					
	
					},
					borderColor: 'rgb(88, 193, 219)'
				}
				]
			},
			options: {
				scales: {
				yAxes: [{
					ticks: {
					beginAtZero: true
					}
				}]
				}
			}
			});
		</script>

		<!-- bottom bar -->
		<div class="bottombar">
		</div>
	</body>
</html>

